

export WEB3_INFURA_PROJECT_ID='your id (connection string to infura point'
export PRIVATE_KEY='0xDontShareThisWithAnyoneOrGithub'
 
### If you want to verify contracts on etherescan
# export ETHERSCAN_TOKEN='asdfadfasdfsf'
